doctype html

mixin NavBar(flag)
    if flag == 1
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.my-5
            button.navbar-toggler(disabled = "disabled", type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
                | Please Enlarge Window
            #navbarTogglerDemo01.collapse.navbar-collapse
                a.navbar-brand(href='/') BOOX
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item
                        a.nav-link(href='/')
                            i.ma.fa.fa-home
                            | Home
                    li.nav-item
                        a.nav-link(href='/book/search')
                            i.ma.fa.fa-trophy
                            | Search
                    li.nav-item.dropdown
                        a#transDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | Transaction
                        .dropdown-menu(aria-labelledby='transDropdown')
                            a.dropdown-item(href='/transaction/list/buy') Incoming
                            a.dropdown-item(href='/transaction/list/sell') Outgoing



                form.form-inline.my-2.my-lg-0
                    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                | Account
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='/user/setting') Profile
                                .dropdown-divider
                                a.dropdown-item(href='/user/address') Address
                                a.dropdown-item(href='/user/favorite') Favorite
                                a.dropdown-item(href='/user/mybook') My Book

                        li.nav-item
                            a.nav-link(href='/logout')
                                i.ma.fa.fa-sign-out
                                | Sign Out
    else
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.my-5
            button.navbar-toggler(disabled = "disabled", type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
                | Please Enlarge Window
            #navbarTogglerDemo01.collapse.navbar-collapse
                a.navbar-brand(href='/') BOOX
                ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                    li.nav-item
                        a.nav-link(href='/')
                            i.ma.fa.fa-home
                            | Home
                    li.nav-item
                        a.nav-link(href='/book/search')
                            i.ma.fa.fa-trophy
                            | Search

                form.form-inline.my-2.my-lg-0
                    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                        li.nav-item
                            a.nav-link(href='/login')
                                i.ma.fa.fa-sign-out
                                | Sign In

html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css', integrity='sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js', integrity='sha256-ko+X8xDY92jF49Uh47HOLP8Vb5zGDF0J+tdy9KLEP1I=', crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        style.
            body {
                /*background-image: url("/img/background.jpg");*/
                background-size: cover;
                padding: 1%;
            }
            .body-card{
                margin-top: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 25px;
                background: #fff;
            }
            /*.container{*/
                /*width: 80%;*/
                /*padding: 0;*/
                /*max-width: 100%;*/
            /*}*/
            .navbar {

                border-radius: 28px;
                padding-left: 30px;
                padding-right: 30px;
                box-sizing: border-box;
                width: 100%;
                /*height: 10%;*/
                text-align: center;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            table{
                width: 100%;
            }
        block header

    body
        .container.mb-5
            .row
                .col
                    +NavBar(flag)
            .row
                .col
                    block content
