extends layout

block header
    title Sign Out

block content
    h5(style="margin-top: 10px;")
        | Your've been signed out!
    a(href="/")
        | Back to Index Page in&nbsp;
        strong#Time 3
        | &nbsp;seconds...

    script.
        function changeTime() {
            var Time = $('#Time').text();
            Time = parseInt(Time);
            Time--;
            if (Time <= 0) window.location.href = "/";
            else {
                $('#Time').text(Time);
                setTimeout(changeTime, 1000);
            }
        }
        $(document).ready(function () {
            setTimeout(changeTime, 1000);
        });