extends ../layout

block header
    title User Setting - BOOX

block content
    .row.justify-content-center
        .col-sm-8
            h1 User Setting
            dl.row.mt-5
                dt.col-sm-3 Username
                dd.col-sm-9#username
                dt.col-sm-3 First Name
                dd.col-sm-7#firstname
                dd.col-sm-2
                    em#disName *
                dt.col-sm-3 Last Name
                dd.col-sm-9#lastname
                dt.col-sm-3 Gender
                dd.col-sm-7#gender
                dd.col-sm-2
                    em#disGender *
                dt.col-sm-3 Birth
                dd.col-sm-7#birth
                dd.col-sm-2
                    em#disBirth *
                dt.col-sm-3 Phone
                dd.col-sm-9#phone
                dt.col-sm-3 Email
                dd.col-sm-9#email
                dt.col-sm-3 Display Address
                dd.col-sm-9#address
            button.btn.btn-primary.mt-3(type='button', onclick="window.location.href = '/user/modifyprofile';")#btnModify
                | Modify

    script.
        var data = !{JSON.stringify(data)};
        var adr = !{JSON.stringify(adr)};

        $(document).ready(function () {
            if (typeof data.Username !== "undefined") $('#username').text(data.Username)
            if (typeof data.FirstName !== "undefined") $('#firstname').text(data.FirstName)
            if (typeof data.LastName !== "undefined") $('#lastname').text(data.LastName)
            if (typeof data.Gender !== "undefined") $('#gender').text(data.Gender)
            if (typeof data.Birth !== "undefined") $('#birth').text(data.Birth)
            if (typeof data.Phone !== "undefined") $('#phone').text(data.Phone)
            if (typeof data.Email !== "undefined") $('#email').text(data.Email)

            if (adr !== ''){
                $('#address').text(displayAdr(adr))
            }

            if (data.PrivacyBits[0] === '1') {$('#disName').text('Public')}
            else $('#disName').text('Private')
            if (data.PrivacyBits[1] === '1') $('#disGender').text('Public')
            else $('#disGender').text('Private')
            if (data.PrivacyBits[2] === '1') $('#disBirth').text('Public')
            else $('#disBirth').text('Private')
        });
        function displayAdr(adr){
            var str = "", data = new Array();
            data[0] = adr.StreetNum;
            data[1] = adr.StreetAddress;
            data[2] = adr.City;
            data[3] = adr.State;
            data[4] = adr.Country;
            for (var i = 0; i <= 4; i++) {
                if (str !== "") str += ", ";
                str += data[i];
            }
            str += ' (zip-code: ' + adr.ZipCode + ')';
            return str;
        }