extends ../layout

block header
  title Transactions

block content
  .container
    ul.list-group
      li.list-group-item
        .row
          .col-sm hello
          .col-sm K-ON
          .col-sm world
      li.list-group-item
        .row
          .col-sm hello
          .col-sm K-ON
          .col-sm world