extends ../layout

block header
  title Transactions

block content
  .container
    h1 Transactions
    .list-group
      .list-group-item
        .row
          .col-sm Transaction ID
          .col-sm Record ID
          .col-sm Another User ID
          .col-sm Status
      each item in transactionList
        a.list-group-item.list-group-item-action(href='/transaction/detail/'+item.transactionID)
          .row
            .col-sm= item.transactionID
            .col-sm= item.recordID
            .col-sm= item.anotherUserID
            .col-sm= item.transactionStatus
