extends ../layout

block header
  title Transactions

block content
  .container
    h1.mb-4 Transactions
    .list-group
      .list-group-item
        .row
          .col-sm-3 Transaction ID
          .col-sm-6 Book Name
          .col-sm-2 Name of Another
          .col-sm-1 Status
      each item in transactionList
        a.list-group-item.list-group-item-action(href='/transaction/detail/'+item.transactionID)
          .row
            .col-sm-3= item.transactionID
            .col-sm-6= item.recordID
            .col-sm-2= item.anotherUserID
            .col-sm-1= item.transactionStatus
