extends ../layout

block header
  title New Transaction - BOOX

block content
  .container.wx-0
    h1.mb-5 New Transaction
    if result.length !== 0
      form(method="post", action="/transaction/new")
        p Select your address:
        each item in result
          .custom-control.custom-radio
            input.custom-control-input(type='radio', id=item.id, name='address', value=item.id required)
            label.custom-control-label(for=item.id)= item.adrString
        button.btn.btn-primary.mt-3 Submit Request
    else
      .alert.alert-danger(role='alert')
        | You have no address yet! Please&nbsp
        a.alert-link(href="/user/address") add one
        |  first!